<html>
<head>
</head>
<body>

<h2>Add A Trip  -  -  <a href="/" >return to trips</a></h2>
<form method="POST" action='/add-trip'>
<input type="text" placeholder="Trip Name" name="title" />
<input type="text" placeholder="Image URL" name="image" />
Start Date<input type="date" name="startDate" />
End Date<input type="date" name="endDate" />
<button>Add</button>
</form>

</body>

</html>