<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<div>
<a href="/users">Add Movies to Your Collection</a>
<a href="/users/myMovies">Your Movies</a>
<a href="/logout">Log Out</a>
</div>

<h2>Add Movie</h2>
<form method="POST" action="/users/add-movie">
<input type="text" placeholder="Movie Title" name="movieTitle" />
<br><input type="text"  placeholder="Description" name="desc" />
<br>Genre: <select id="movieGenre" name="movieGenre">
<option value="action">Action</option>
<option value="comedy">Comedy</option>
<option value="drama">Drama</option>
</select>
<br><input type="text" placeholder="posterURL" name="posterURL" />
<br>
<button>add</button>
</form> 


</body>

</html>