<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<div>

<a href="/users/add">Add Movie</a>

<a href="/users/myMovies">Your Movies</a>
<a href="/logout">Log Out</a>
</div>

<h2>All Movies</h2>
<ul>
{{#movies}}
<li>
<a href="/details/{{movieID}}"><img src="{{posterURL}}" height="200px" width="auto"><br>
{{title}}</a> <br><a href="/users/movies/{{movieID}}">Add to my collection</a>
</li>
{{/movies}}
</ul>



</body>

</html>