<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>

{{> menu}}


<h2>{{genre}} Movies</h2>
<ul>
{{#movies}}
<li>
<a href="/details/{{movieID}}">
<img src="{{posterURL}}" height="200px" width="auto"><br>
{{title}}</a>
</li>
{{/movies}}

{{^movies}}
<h1>Sorry, No Movies in The Genre. Help Out and <a href="/add">Add One</a>
{{/movies}}
</ul>



</body>

</html>