<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>

{{> menu}}

<h2>Movies</h2>
<ul styles="list-style-type: none;">
{{#movies}}
<li>
<a href="/details/{{movieID}}"><img src="{{posterURL}}" height="200px" width="auto"><br>
{{title}}</a>
</li>
{{/movies}}
</ul>



</body>

</html>