<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<div>

<a href="/users/add">Add Movie</a>
<a href="/users">Add Movies to Your Collection</a>
<a href="/logout">Log Out</a>
</div>

<h2>Your Movies</h2>
<ul styles="list-style-type: none;">
{{#movies}}
<li>
<a href="/details/{{movieID}}"><img src="{{posterURL}}" height="200px" width="auto"><br>
{{title}}</a> <br><a href="/users/remove/{{movieID}}">Remove from my collection</a>
</li>
{{/movies}}
</ul>



</body>

</html>